@use '@/shared/styles/mixins';

.loader {
  @include mixins.detail;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-size-m);
  margin: 0;
  color: var(--text-tertiary);
}
