@use '@/shared/styles/mixins';

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  background-color: var(--background-primary);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-size-xl);
  padding: var(--spacing-size-xl) var(--spacing-size-xl) var(--spacing-size-xl)
    var(--spacing-size2xl);
}

.heading {
  min-width: 0;
}

.title {
  @include mixins.subheader;

  margin: 0;
}

.instance {
  @include mixins.label;
  @include mixins.ellipsis;

  margin: 0;
  color: var(--text-tertiary);
}
