@use '@/shared/styles/mixins';

.screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: var(--spacing-size4xl) var(--spacing-size2xl);
  overflow-y: auto;
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-size4xl);
  width: 100%;
  max-width: 420px;
  margin: auto;
  padding: var(--spacing-size4xl);
  border-radius: var(--size-border-radius-promo);
  background-color: var(--background-card);
}

.header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-size-m);
}

.title {
  @include mixins.header;

  margin: 0;
}

.hint {
  @include mixins.description;

  margin: 0;
  color: var(--text-tertiary);
}
